/* Ashleigh Claire Foster, Student ID= 16427265 */
.navigation-bar {
    width: 100%;  /* i'm assuming full width */
    height: 80px; /* change it to desired width */
    background-color: #505050; /*change to desired color */
    display: flex;
}
.navigation-list
{
  display: flex;
  flex-direction: row;
  list-style: none;
  display: inline-block;
  text-align: center;
  width: 90%;
  font-family: 'Indie Flower', cursive;
}
.navigation-list li {
  display: inline-block;
  padding: 5px 40px;
}
.navigation-list li > a {
  position: relative;
  color: wheat;
  display: inline-block;
  padding: 2px 3px;
  padding-bottom: 8px;
  text-decoration: none;
  margin-bottom: 20px;
  letter-spacing: .1em;
}
.navigation-list a:hover {
  color: white;
  border-bottom: 2px solid #F117B4;
  text-decoration: none;
  -wekkit-transition: all .3s;
  transition: all .3s;
}
/* To get the underline effect I used: http://stackoverflow.com/questions/24647139/thick-underline-when-hover */
/* To get the transition effect I used: http://www.dynamicdrive.com/style/csslibrary/item/css_animated_underline_menu/ */
.logo {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-top: 15px;    /* if you want it vertically middle of the navbar. */
}
.navigation-bar > a {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 80px;        /* if you want it to take the full height of the bar */
    line-height: 80px;    /* if you want it vertically middle of the navbar */
}
body {
  /*min-height: 100vh; /* vertical height */
  /*margin: 0;
  /*line-height: 100%; */
  /*font-family: sans-serif; */
  font-size: 1.5em;
  color: #333;
  /*background: #ddd5d5; */
  background-image: url(../images/background.jpg);
  /* Image came from this website: https://unsplash.com/ - Free to use */
}

section.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 10px;
  opacity: 0.8;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  background: #F2EEED;
}
/* This next part of the code is for the "about me" box on the webpage */
.profilepic {
  border-radius: 50%;
  display: block;
  margin: auto;
  width: 20%;
}
.box {
  border: 1px solid black;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  text-align: center;
}
/* It ends here the about me code!! */

.paragraphCV {
	text-align: center;
	font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color: #0A6680;
}
.paragraphCV1 {
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin-left: 80px;
  margin-right: 80px;
}

.cvlist {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  width:700px;
  margin:0 auto;
  text-align: justify;
}
/* Used this website to center bullet point content: http://stackoverflow.com/questions/5347451/centering-ul-keeping-lis-aligned */
.heading5 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.headingskills {
  text-align: left;
  width: 750px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}
.heading6 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #0BA2CD;
}
.heading3CV {
	text-align: center;
	font-size:36px;
  font-family: 'Roboto', sans-serif;
  color: #06485B;

}
.heading4 {
	text-align: center;
	font-size:25px;
  font-family: 'Roboto', sans-serif;
  color: #0A80A2;

}
.footer {
  /*position: absolute; */
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  background: rgb(27, 83, 110);
  position: sticky;

}
.main {
  padding: 1em;
  /*background: #EAE5E5; */
  /*text-align: center; */
  border-style: groove;
  border-width: thick;
  /*background: #ddd5d5; */
}
.heading1 {
  text-align: center;
  margin: 0px;
  border-style: solid;
  border-width: thin;
  font-family: 'Rokkitt', serif;
}
.pageheader {
  background-color: #92827E;
  /* height: 6em; */
}
@-ms-viewport {
  /* width: device-width; */
}
/* Got the center alignment from this website: http://stackoverflow.com/questions/1040554/how-to-put-a-div-in-center-of-browser-using-css */
/* Got the border and alignment ideas for the content from this website: https://css-tricks.com/almanac/properties/f/float/ */

/* This section is about the index page */
.prof-box {
  width: 500px;
  height: 605px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  color: white;
  margin: 0 auto;
  text-align: center;
  border-radius: 25px;
}
.prof-pic {
  border-radius: 50%;
  height: 210px;
  width: 210px;
}
/* Got the profile box and profile picture layout from this YouTube video: https://www.youtube.com/watch?v=jJuHQNULXGs and I was inspired by his design and decided to incorporate my own theme to it! */
.index2 {
  font-weight: 100;
  letter-spacing: 3;
  font-family: 'Roboto', sans-serif;
}
.indexparagraph {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
}
.homeparagraph {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-style: italic;
  font-weight: bold;
  color: white;
  font-size: 23px;
}
/* The end of the index page styling */
/* This link was used to construct the border type: http://www.w3schools.com/css/tryit.asp?filename=trycss_text-align_all 8 */
/* Got border styles from here: http://www.w3schools.com/css/tryit.asp?filename=trycss_border-style */
#form-wrap {
  width: 600px;
  /*border: 3px solid #ccc; */
  /*background-color: #afc8de; */
  /*background: rgba(0, 0, 0, 0.4); */
  background-color: #f6f6f6;
  opacity: 0.8;
  /*margin: 50px auto; */
  padding: 20px 0 ;
  /*position: absolute; */
  /*left: 599px; */
  /*top: 18% */
  text-align: center;
  margin: auto;
  border-radius: 20px;
}
form {
  width: 500px;
  margin: 0 auto;
}
label {
  display: block;
  margin: 5px 0px 5px 0px;
  font: 10px;
  font-family: 'Roboto', sans-serif;
}
input {
  width: 350px;
}
textarea {
  width: 350px;
}
fieldset {
  border: none;
  /*background-color: #f6f6f6; */
  padding: 0 0 20px 0;
}
.labelone {
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
}
.btn {
  width: 125px;
}
form h4 {
  margin: 20px 5px 20px 0;
  font: 24px sans-serif;
  font-weight: bold;
}
.paragraph {
  font-style: italic;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
}
.paragraph2 {
  font-style:italic;
  text-align: center;
  font-size: 22px;
}
.rolloverbtn {
  text-align: center;
}
/* I'm going to be adding the styles for the button below http://www.dynamicdrive.com/style/csslibrary/item/depressible_circle_buttons/*/
a.css3dbutton {
    background: #c1e75c; /* default green background color of button */
    color: black;
    text-decoration: none;
    font: bold 18px Arial; /* font size and style */
    position: relative;
    display: inline-block;
    margin-right: 15px; /* spacing between multiple buttons */
    padding: 15px; /* padding inside button */
    border-radius: 85px; /* border radius of button */
    width: 85px; /* dimensions of button */
    height: 85px;
    outline: none;
    box-shadow: 0 8px 0 #8dab3b, /* depth and color of main shadow */
        0 0 3px rgba(0,0,0, 0.2),
        0 20px 20px #eee;
    -moz-transition: all 0.2s ease-in-out; /* transition style and duration */
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

}

a.css3dbutton span.outer{ /* outermost text container */
    text-align: center;
    width: 100%;
    display: block;
    position: relative;
    top: 50%; /* center element */
    -webkit-transform: translateY(-50%); /* center element */
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

a.css3dbutton span.outer span.top{ /* top line */
    display: block;
    padding-bottom: 4px;
}

a.css3dbutton span.outer span.bottom{ /* bottom line */
    border-top: 1px solid black;
    padding-top: 4px;
    display: block;
    text-transform: uppercase;
    line-height: 12px;
    font-size: 60%;
}


a.css3dbutton:hover {
    background: #9cc62b; /* background color when mouse rolls over button */
    box-shadow:  none;
    -ms-transform: translateY(8px); /* shift button downwards by shadow depth amount */
    -webkit-transform: translate3D(0, 8px, 0);
    -moz-transform: translateY(8px);
    transform: translate3D(0, 8px, 0);
}


a.css3dbutton.blue{
    background: #a6e9f7;
    box-shadow: 0 8px 0 #529dad, /* depth and color of main shadow */
        0 0 3px rgba(0,0,0, 0.2),
        0 20px 20px #eee;
}

a.css3dbutton.blue:hover {
    background: #66cbe1; /* background color when mouse rolls over button */
    box-shadow: none;
}

a.css3dbutton.pink{
    background: #fbbaba;
    box-shadow: 0 8px 0 #d74848, /* depth and color of main shadow */
        0 0 3px rgba(0,0,0, 0.2),
        0 20px 20px #eee;
}

a.css3dbutton.pink:hover {
    background: #ea6161; /* background color when mouse rolls over button */
    box-shadow: none;
}
